* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: hsl(12, 10%, 20%);
}

P, h1 {
    font-family: sans-serif;
    color: hsl(106, 100%, 85%);
    text-align: center;
    padding: 20px;
    line-height: 2em;
}

/* LINKS */

a {
    text-decoration: none;
    color: hsl(106, 100%, 85%);
}

a:hover {
    color: hsl(221, 100%, 61%);
}

a:active{
    color: gray;
}

/* HEADER SECTION */

header ul {
    list-style: none;
    text-align: center;
    margin: auto;
    color: white;
    background-color: hsl(12, 10%, 10%);
    font-family: sans-serif;
}

header li {
    padding: 20px;
    display: inline-flex;
}